{
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "indent": "off",
    "no-use-before-define": "off",
    "prettier/prettier": "error",
    "arrow-parens": [2, "always"],
    "no-restricted-syntax": "off",
    "no-await-in-loop": "off",
    "no-console": "off",
    "global-require": "off"
  }
}
